form {
	display: flex;
	overflow: hidden;

	height: 4rem;
	margin-top: 2rem;
	border: 2px solid #34c88a;
	border-radius: 0.4rem;

	.todo-input {
		flex: 1;
		border: 0;
		text-indent: 1rem;
		&::placeholder {
			color: #797979;
		}
	}
	button {
		font-family: "GmarketSansMedium", sans-serif;
		background: #34c88a;
		color: #fff;
		width: 8rem;
	}
}
